$font-stack: "Inter", sans-serif;
$base-font: 17px;
//Gray Tone
$coolGray-10: #f2f4f8;
$coolGray-20: #dde1e6;
$coolGray-30: #c1c7cd;
$coolGray-40: #a2a9b0;
$coolGray-50: #878d96;
$coolGray-60: #697077;
$coolGray-70: #4d5358;
$coolGray-80: #343a3f;
$coolGray-90: #21272a;
$coolGray-100: #121619;
$gray-lightest: #e8e9ea;
//primary Tone
$purple-10: #f6f2ff;
$purple-20: #e8daff;
$purple-30: #d4bbff;
$purple-40: #be95ff;
$purple-50: #a56eff;
$purple-60: #8a3ffc;
$purple-70: #6929c4;
$purple-70-hover: #7c3dd6;
$purple-80: #491d8b;
$purple-90: #31135e;
$purple-100: #1c0f30;

//white
$white: #ffffff;

//warning
$yellow: #fcde2b;
$error: #e61728;
$success: #00d17e;

//spacing
$py-36: 36px;
$py-72: 72px;
$py-96: 96px;
$my-120: 120px;
$w-100: 100%;