<footer>
    <section class="footer-rating">
        <div>
            <ul class="social-links">
                <li>
                    <a href="https://www.linkedin.com/company/mojoauth" target="_blank" rel="noreferrer">
                        <svg enable-background="new 0 0 56.693 56.693" height="24" id="Layer_1" version="1.1"
                            viewBox="0 0 56.693 56.693" width="24" xmlns="http://www.w3.org/2000/svg"
                            xmlnsxlink="http://www.w3.org/1999/xlink">
                            <g>
                                <path d="M30.071,27.101v-0.077c-0.016,0.026-0.033,0.052-0.05,0.077H30.071z"></path>
                                <path
                                    d="M49.265,4.667H7.145c-2.016,0-3.651,1.596-3.651,3.563v42.613c0,1.966,1.635,3.562,3.651,3.562h42.12   c2.019,0,3.654-1.597,3.654-3.562V8.23C52.919,6.262,51.283,4.667,49.265,4.667z M18.475,46.304h-7.465V23.845h7.465V46.304z    M14.743,20.777h-0.05c-2.504,0-4.124-1.725-4.124-3.88c0-2.203,1.67-3.88,4.223-3.88c2.554,0,4.125,1.677,4.175,3.88   C18.967,19.052,17.345,20.777,14.743,20.777z M45.394,46.304h-7.465V34.286c0-3.018-1.08-5.078-3.781-5.078   c-2.062,0-3.29,1.389-3.831,2.731c-0.197,0.479-0.245,1.149-0.245,1.821v12.543h-7.465c0,0,0.098-20.354,0-22.459h7.465v3.179   c0.992-1.53,2.766-3.709,6.729-3.709c4.911,0,8.594,3.211,8.594,10.11V46.304z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/mojoauth" target="_blank" rel="noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" class="ionicon" viewBox="0 0 512 512"
                            height="24">
                            <title>Logo Twitter</title>
                            <path
                                d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="rating-wrap">
                <div class="rating">
                    <div class="link">
                        <a href="https://www.capterra.com/p/236683/MojoAuth/reviews/" target="_blank" rel="noopener">
                            <img class="" src="https://mojoauth.com/assets/images/capterra.svg" alt="">
                        </a>
                    </div>
                    <div class="star">
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                    </div>
                    <div class="rate">5/5</div>
                </div>
                <div class="rating">
                    <div class="link">
                        <a href="https://www.g2.com/products/mojoauth/reviews" target="_blank" rel="noopener">
                            <img class="" src="https://mojoauth.com/assets/images/g2.svg" alt=""></a>
                    </div>
                    <div class="star">
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 1L31 18H49L35 29L40 46L25 36L10 46L15 29L1 18H19L25 1Z" fill="#FFD201">
                            </path>
                            <path
                                d="M30.057 18.3328L30.2925 19H31H46.1087L34.3822 28.2137L33.8495 28.6322L34.0406 29.2822L38.2637 43.6406L29 37.4648V15.338L30.057 18.3328Z"
                                fill="white" stroke="#FFD201" stroke-width="2"></path>
                        </svg>
                    </div>
                    <div class="rate">4.7/5</div>
                </div>
                <div class="rating">
                    <div class="link">
                        <a href="https://www.getapp.com/security-software/a/mojoauth/" target="_blank" rel="noopener">
                            <img class="" src="https://mojoauth.com/assets/images/getapp.svg" alt=""></a>
                    </div>
                    <div class="star">
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                        <svg viewBox="0 0 51 48" class="widget-svg" style="
                    width: 20px;
                    height: 20px;
                    transition: transform 0.2s ease-in-out 0s;
                  ">
                            <path class="star" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" style="
                      fill: rgb(255, 210, 1);
                      transition: fill 0.2s ease-in-out 0s;
                    "></path>
                        </svg>
                    </div>
                    <div class="rate">5/5</div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-top">
        <div class="footer-links grid-25">
            <div>
                <h4>Products</h4>
                <ul>
                    <li>
                        <a href="/products/passkeys/">Passkeys</a>
                    </li>
                    <li>
                        <a href="/products/email-magic-link/">Magic Link</a>
                    </li>
                    <li>
                        <a href="/products/email-otp/">Email OTP</a>
                    </li>
                    <li>
                        <a href="/products/sms-authentication/">Phone OTP</a>
                    </li>
                    <li>
                        <a href="/products/social-login/">Social Login</a>
                    </li>
                    <li>
                        <a href="/products/multi-factor-authentication/">Multi-Factor Authentication</a>
                    </li>
                    <li>
                        <a href="/products/passwords/">Passwords</a>
                    </li>
                    <li>
                        <a href="/products/user-management/">User Management</a>
                    </li>
                    <li>
                        <a href="/products/private-cloud/">Private Cloud</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="https://docs.mojoauth.com/">Documentation</a>
                    </li>
                    <li>
                        <a href="https://docs.mojoauth.com/api-reference">API References</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/news/">Passwordless News</a>
                    </li>
                    <li>
                        <a href="/startup/">MojoAuth for Startup<span class="primary">New</span></a>
                    </li>
                    <li>
                        <a href="/integrations/">Integrations</a>
                    </li>
                    <li>
                        <a href="/glossary/">Glossary</a>
                    </li>
                    <li>
                        <a href="/global-authentication/">Global Authentication</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>About</h4>
                <ul>
                    <li>
                        <a href="/company/">Company</a>
                    </li>
                    <li>
                        <a href="/pricing/">Pricing</a>
                    </li>
                    <li>
                        <a href="https://docs.mojoauth.com/faq">FAQ</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener" href="https://angel.co/company/mojoauth/jobs">Careers</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener"
                            href="https://mojoauthassist.freshdesk.com/support/tickets/new">Help Center</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"
                            onclick="if (!window.__cfRLUnblockHandlers) return false; openWidget()">Contact
                            Sales</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Blog</h4>
                <ul>
                    <li>
                        <a href="https://mojoauth.com/blog/mojoauth-vs-auth0-for-e-commerce-and-travel/"
                            target="_blank">MojoAuth vs. Auth0 for E-commerce and Travel</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/seamless-authentication-for-a-smooth-travel-and-hospitality-experience/"
                            target="_blank">Seamless Authentication for a Smooth Travel and Hospitality
                            Experience</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/why-your-business-needs-a-passwordless-future/"
                            target="_blank">Why Your Business Needs a Passwordless Future</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/the-era-of-passkeys-revolutionizing-b2c-authentication/"
                            target="_blank">Revolutionizing B2C Authentication with MojoAuth</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/passkeys-vs-passwords-the-future-of-digital-authentication/"
                            target="_blank">The Future of Digital Authentication</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/top-five-passwordless-authentication-software-providers-for-retail-and-e-commerce-industry/"
                            target="_blank">Top 5 Passwordless Solutions for Retailers</a>
                    </li>
                    <li>
                        <a href="https://mojoauth.com/blog/how-mojoauth-transforms-authentication-for-banking-fintech-cryptocurrency-exchanges/"
                            target="_blank">How MojoAuth Transforms Authentication</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="link">
                <ul>
                    <li>
                        <a href="https://status.mojoauth.com/">Status </a>
                    </li>
                    <li>
                        <a href="/information-security-policy/">
                            Information Security Policy
                        </a>
                    </li>
                    <li>
                        <a href="/terms/"> Terms of Use </a>
                    </li>
                    <li>
                        <a href="/privacy/"> Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="w-100">
            <div class="copyright">
                <p id="auto-copyright">Copyright 2024, MojoAuth</p>
            </div>

            <p>
                Made with
                <span><svg width="16" height="12" viewBox="0 0 52 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M25.9999 47.9976L24.875 47.2476C19.5277 43.6765 12.7618 39.6405 7.75083 33.7083C2.46984 27.4586 -0.0637777 21.0402 0.00121898 14.0843C0.079965 6.31718 6.3084 0 13.8855 0C19.899 0 23.8975 3.49982 25.9999 6.02595C28.1023 3.49982 32.1008 0 38.1143 0C45.6914 0 51.9198 6.31718 51.9986 14.0805C52.0686 21.0402 49.535 27.4549 44.249 33.7045C39.238 39.6405 32.4721 43.6765 27.1248 47.2476L25.9999 47.9976Z"
                            fill="#6929C4"></path>
                    </svg>
                </span>
                by MojoAuth
            </p>
        </div>
    </section>
</footer>

<script>

    // mega menu
    const menu = document.querySelector(".menu");
    const menuMain = menu.querySelector(".menu-main");
    const goBack = menu.querySelector(".go-back");
    const menuTrigger = document.querySelector(".mobile-menu-trigger");
    const closeMenu = menu.querySelector(".mobile-menu-close");
    let subMenu;
    menuMain.addEventListener("click", (e) => {
        if (!menu.classList.contains("active")) {
            return;
        }
        if (e.target.closest(".menu-item-has-children")) {
            const hasChildren = e.target.closest(".menu-item-has-children");
            showSubMenu(hasChildren);
        }
    });
    goBack.addEventListener("click", () => {
        hideSubMenu();
    })
    menuTrigger.addEventListener("click", () => {
        toggleMenu();
    })
    closeMenu.addEventListener("click", () => {
        toggleMenu();
    })
    document.querySelector(".menu-overlay").addEventListener("click", () => {
        toggleMenu();
    })
    function toggleMenu() {
        menu.classList.toggle("active");
        document.querySelector(".menu-overlay").classList.toggle("active");
    }
    function showSubMenu(hasChildren) {
        subMenu = hasChildren.querySelector(".sub-menu");
        subMenu.classList.add("active");
        subMenu.style.animation = "slideLeft 0.5s ease forwards";
        const menuTitle = hasChildren.querySelector("i").parentNode.childNodes[0].textContent;
        menu.querySelector(".current-menu-title").innerHTML = menuTitle;
        menu.querySelector(".mobile-menu-head").classList.add("active");
    }

    function hideSubMenu() {
        subMenu.style.animation = "slideRight 0.5s ease forwards";
        setTimeout(() => {
            subMenu.classList.remove("active");
        }, 300);
        menu.querySelector(".current-menu-title").innerHTML = "";
        menu.querySelector(".mobile-menu-head").classList.remove("active");
    }

    window.onresize = function () {
        if (this.innerWidth > 991) {
            if (menu.classList.contains("active")) {
                toggleMenu();
            }

        }
    }


</script>